@addTagHelper *, BootstrapIcons.AspNetCore

@model IEnumerable<Presta.net_app.Models.Prestatario>

@{
    ViewData["Title"] = "Index";
}

@{
    int currentPage = ViewBag.CurrentPage ?? 1;
    int totalPages = ViewBag.TotalPages ?? 1;
}

<h1 class="text-center">Lista de Prestatarios Registrados</h1>
<div class="container mt-4">
    <div class="row justify-content-end align-items-center">
        <div class="col">
            <form method="get" class="row g-3">
                <div class="col-md-6">
                    <input type="text" name="filtro" class="form-control" placeholder="Buscar por Nombre, Apellido o DNI" />
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-auto d-flex">
            <a class="btn btn-success flex-fill me-1" asp-action="Create">
                Nuevo <i class="bi bi-plus-square"></i>
            </a>
            <a class="btn btn-secondary flex-fill me-1" asp-action="#">
                Importar <i class="bi bi-arrow-up-square"></i>
            </a>
            <a class="btn btn-secondary flex-fill" asp-action="#">
                Exportar <i class="bi bi-arrow-down-square"></i>
            </a>
        </div>
    </div>
</div>
@if (!Model.Any())
{
    <div class="container mt-4 alert alert-warning">No se encontraron resultados</div>
}
else
{
    <div class="container mt-4">
        <table class="table table-striped">
            <thead class="bg-secondary bg-gradient text-white">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DNI)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DNI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Ver</a>
                            <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <nav class="mt-4">
        <ul class="pagination d-flex justify-content-center">
            @for (int i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = i })">@i</a>
                </li>
            }
        </ul>
    </nav>
}