@model IEnumerable<Presta.net_app.Models.Prestatario>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Lista de Prestatarios Registrados</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Nuevo Prestatario</a>
</p>
<table class="table table-striped">
    <thead class="bg-secondary bg-gradient text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Ver</a>
                <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
