@model Presta.net_app.Models.Prestamo

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Está seguro de eliminar el préstamo?</h3>
<div class="row justify-content-center">
    <h4>Préstamo # @Html.DisplayNameFor(model => model.Id)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoCapital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoCapital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadCuotas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadCuotas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrestatarioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrestatarioId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Cancelar</a>
    </form>
</div>
