@model Presta.net_app.Models.Prestamo

@{
    ViewData["Title"] = "Details";
}


<div class="container bg-light text-dark">
<h1 class="text-center">Detalles Préstamo #@Model.Id</h1>
<h4 class="text-center">@Model.Prestatario.Apellido, @Model.Prestatario.Nombre</h4>
<h4 class="text-center">Monto otorgado: $@Model.MontoCapital</h4>
    <div class="justify-content-center">
            @if (@Model.PrestamoDetalles != null)
            {
                <table class="table table-striped">
                    <thead class="bg-secondary bg-gradient text-white">
                        <tr>
                            <th>
                                <p>Cuota</p>
                            </th>
                            <th>
                                <p>Próximo Pago</p>
                            </th>
                            <th>
                                <p>Monto</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PrestamoDetalles)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NroCuota)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaPago)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MontoCuota)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <b>No hay información para mostrar</b>
            }
    </div>
</div>
<div class="col text-center">
    <a class="btn btn-primary" asp-action="Index">Volver al listado</a>
</div>
