@model Presta.net_app.Models.Prestamo

@{
    ViewData["Title"] = "Details";
}


<div class="container bg-light text-dark">
<h1 class="text-center">Detalles</h1>
    <hr />
    <dl class="row justify-content-center">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadCuotas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadCuotas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrestatarioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrestatarioId)
        </dd>
        <dt class="col-sm-2">
            <p> Monto Cuota </p>
        </dt>
        <dd class="col-sm-10">
            @if (@Model.prestamoDetalle != null)
            {
                <b>@Model.prestamoDetalle.MontoCuota</b>
            }
            else
            {
                <b>$ 0</b>
            }
        </dd>
    </dl>
</div>
<div class="col text-center">
    <a class="btn btn-primary" asp-action="Index">Volver al listado</a>
</div>
