@model IEnumerable<Presta.net_app.Models.Prestamo>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Lista de Préstamos Otorgados</h1>
<div class="container mt-4">
    <div class="row justify-content-end align-items-center">
        <div class="col">
            <form method="get" class="row g-3">
                <div class="col-md-6">
                    <input type="text" name="filtro" class="form-control" placeholder="Buscar por Nombre, Apellido o DNI" />
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </form>
        </div>
        <div class="col-auto">
            <a class="btn btn-success" asp-action="Create">Nuevo Préstamo</a>
        </div>
    </div>
</div>
@if (!Model.Any())
{
    <div class="alert alert-warning mt-4">No se encontraron resultados</div>
}
else
{
    <div class="container mt-4">
        <table class="table table-striped">
            <thead class="bg-secondary bg-gradient text-white">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MontoCapital)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CantidadCuotas)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaInicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EstadoId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrestatarioId)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MontoCapital)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CantidadCuotas)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prestatario.Apellido)
                        </td>
                        <td>
                            <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Ver</a>
                            <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
